.highligh{
  background-color: aqua;
}
.Navbar-style{
    background-color: darkgreen;
}

.Green-highlight{
  color: blue;
  font-size: 40px;
}
.red-highlight{
  color: blueviolet;
  font-size: 40px;
}
.pink-highlight{
  color: green;
  font-size: 40px;
}
.hand-icon{
  cursor: pointer;
  margin-left: 550px;
  color: blue;
}